.App {
  margin:0 auto;
  width:100%;
  max-width: 768px;
}

* {
  box-sizing: border-box;
}


 .todo-list {
  width: 100%;
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 768px;
  padding: 2px;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 6px;
  cursor: pointer;
  position: relative;
}


.header {
  background-color: #209cee;;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.saveBtn {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.delete-btn {
  background-color: rgb(218, 12, 12);
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}


